<body>
  <style>
    body {
      margin: 0;
      height: 100%;
      display: flex;
      justify-content: center;
      overflow: hidden;
    }
  </style>
  <svg viewBox="-190 -2 380 380" xmlns="http://www.w3.org/2000/svg" stroke="none" fill="hsla(180,100%,65%,0.8)"
    style="border-radius:50%; --hue: 180; height: 100%;">
    <defs>
      <pattern id="airflow-blue" viewBox="0 0 10 50" width="8%" height="22%">
        <g fill="none" stroke="hsla(180,100%,65%,0.8)" stroke-dasharray="10 40" stroke-linecap="round" stroke-width="4">
          <path d="" id="rain">
            <animate attributeName="d"
              values="M 0 0 a 200 200 0 0 1 0 25 a 100 100 0 0 0 0 25; M 0 0 a 50 50 0 0 1 0 25 a 50 50 0 0 0 0 25; M 0 0 a 200 200 0 0 1 0 25 a 100 100 0 0 0 0 25;"
              dur="5s" repeatCount="indefinite" />
            <animate attributeName="stroke-dashoffset" values="0; -50.2" dur="2s" repeatCount="indefinite" />
          </path>
          <path d="" transform="translate(8 0)">
            <animate attributeName="d"
              values="M 0 0 a 200 200 0 0 1 0 25 a 100 100 0 0 0 0 25; M 0 0 a 50 50 0 0 1 0 25 a 50 50 0 0 0 0 25; M 0 0 a 200 200 0 0 1 0 25 a 100 100 0 0 0 0 25;"
              dur="5s" repeatCount="indefinite" />
            <animate attributeName="stroke-dashoffset" values="0; -50.2" dur="2s" begin="-1s"
              repeatCount="indefinite" />
          </path>
        </g>
      </pattern>
      <pattern id="airflow-magenta" viewBox="0 0 10 50" width="8%" height="22%">
        <g fill="none" stroke="hsla(310,100%,65%,0.3)" stroke-dasharray="10 40" stroke-linecap="round" stroke-width="4">
          <path d="" id="rain">
            <animate attributeName="d"
              values="M 0 0 a 200 200 0 0 1 0 25 a 100 100 0 0 0 0 25; M 0 0 a 50 50 0 0 1 0 25 a 50 50 0 0 0 0 25; M 0 0 a 200 200 0 0 1 0 25 a 100 100 0 0 0 0 25;"
              dur="5s" repeatCount="indefinite" />
            <animate attributeName="stroke-dashoffset" values="0; -50.2" dur="2s" repeatCount="indefinite" />
          </path>
          <path d="" transform="translate(8 0)">
            <animate attributeName="d"
              values="M 0 0 a 200 200 0 0 1 0 25 a 100 100 0 0 0 0 25; M 0 0 a 50 50 0 0 1 0 25 a 50 50 0 0 0 0 25; M 0 0 a 200 200 0 0 1 0 25 a 100 100 0 0 0 0 25;"
              dur="5s" repeatCount="indefinite" />
            <animate attributeName="stroke-dashoffset" values="0; -50.2" dur="2s" begin="-1s"
              repeatCount="indefinite" />
          </path>
        </g>
      </pattern>
      <pattern id="airflow-yellow" viewBox="0 0 10 50" width="8%" height="22%">
        <g fill="none" stroke="hsla(50,100%,75%,0.8)" stroke-dasharray="10 40" stroke-linecap="round" stroke-width="4">
          <path d="" id="rain">
            <animate attributeName="d"
              values="M 0 0 a 200 200 0 0 1 0 25 a 100 100 0 0 0 0 25; M 0 0 a 50 50 0 0 1 0 25 a 50 50 0 0 0 0 25; M 0 0 a 200 200 0 0 1 0 25 a 100 100 0 0 0 0 25;"
              dur="5s" repeatCount="indefinite" />
            <animate attributeName="stroke-dashoffset" values="0; -50.2" dur="2s" repeatCount="indefinite" />
          </path>
          <path d="" transform="translate(8 0)">
            <animate attributeName="d"
              values="M 0 0 a 200 200 0 0 1 0 25 a 100 100 0 0 0 0 25; M 0 0 a 50 50 0 0 1 0 25 a 50 50 0 0 0 0 25; M 0 0 a 200 200 0 0 1 0 25 a 100 100 0 0 0 0 25;"
              dur="5s" repeatCount="indefinite" />
            <animate attributeName="stroke-dashoffset" values="0; -50.2" dur="2s" begin="-1s"
              repeatCount="indefinite" />
          </path>
        </g>
      </pattern>
      <g id="bird" transform="scale(0.7 0.7) translate(0 165)">
        <path id="bird-path" fill="hsl(var(--hue),100%,75%,0.4)"
          d="M 0 0 l 24 32 a 15 15 -30 0 0 30 30 l 130 20 a 20 20 0 0 1 -10 30 a 20 20 0 0 1 -20 20 a 20 20 0 0 1 -30 10 a 30 30 0 0 1 -40 0 a 5 5 0 1 0 -40 40 a 3 3 0 0 1 -12 18 a 15 15 0 0 1 -20 10 a 15 15 0 0 1 -12 6">

        </path>
        <use href="#bird-path" transform="scale(1.001 -1.001) rotate(180)" />
      </g>
    </defs>
    <rect x="-190" y="-2" height="382" width="380" fill="url(#airflow-blue)" transform="translate(0 -2)" />
    <rect x="-190" y="-2" height="380" width="380" fill="url(#airflow-yellow)" transform-origin="0 190"
      transform="rotate(1)" />
    <rect x="-190" y="-2" height="380" width="380" fill="url(#airflow-magenta)" transform-origin="0 190"
      transform="rotate(-1)" />
    <use href="#bird" transform="rotate(4)" transform-origin="0 120" style="--hue: 38;">
      <animateTransform attributeName="transform" type="rotate" values="-4; 4; -4" dur="5s" begin="-2.5s"
        repeatCount="indefinite" />
    </use>
    <use href="#bird" transform="rotate(4)" transform-origin="0 120" style="--hue: 180;">
      <animateTransform attributeName="transform" type="rotate" values="-4; 4; -4" dur="5s" repeatCount="indefinite" />
    </use>
    <use href="#bird" transform="rotate(4)" transform-origin="0 120" style="--hue: 360;">
      <animateTransform attributeName="transform" type="rotate" values="-4; 4; -4" dur="5s" begin="-4.5s"
        repeatCount="indefinite" />
    </use>

  </svg>
</body>